h1 {
  color: white;
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: white;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

#current-location-button {
  background-color: violet;
}

.container {
  width: 50%;
  opacity: 1;
  padding: 30px;
  margin: 30px auto;
  border-radius: 30px;
  border-style: dotted;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.row {
  text-align: center;
}

.credits {
  text-align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

i {
  position: relative;
  font-size: 50px;
  color: orange;
}
