h1 {
  color: white;
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: white;
  width: 100%;
}

.container {
  width: 50%;
  opacity: 1;
  padding: 30px;
  margin: 30px auto;
  border-radius: 30px;
  border-style: dotted;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.row {
  text-align: center;
}

.credits {
  text-align: center;
}

i {
  position: relative;
  font-size: 30px;
  color: blueviolet;
}
